# Frontend
frontend/node_modules/

# Backend
backend/.venv/
backend/venv/
backend/__pycache__/
__pycache__/

# Environment
.env
backend/.env

# Firebase Secret
backend/firebase.json

# VS Code
.vscode/

# OS
.DS_Store